# macOS
.DS_Store
CombinedCode_*.pdf

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.swp
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane (если появится)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
